/*profile page media queries*/
@media only screen and (max-width: 575px) {
	#header .navbar-nav {
		float: none;
		text-align: center;
		background-color: white;
	}
	#header {
		height: auto !important;
	}
	#header .navbar-nav li {
		margin:0 auto;
	}
	#nav-buttons {
		display: inline-block;
		margin: 0 auto;
	}
	.navbar-toggler {
		margin: 0 auto;
	}
	.navbar-toggler-icon {
		font-size: 1.5em;
	}
	#navbarCollapse {
		width: 100%;
	}
	.square {
		display: none;
		/*font-size: 40px;
		margin:0 auto;*/
	}
	#name-responsive {
		display: inline-block;
		font-size: 1.2rem;
		margin:0 auto;
		font-weight: 500;
		line-height: 0.725em;
		letter-spacing:1px;
		font-family: Perpetua,Baskerville,
			Big Caslon,Palatino Linotype,Palatino,
			URW Palladio L,Nimbus Roman No9 L,serif;
	}
	#banner {
		display: none;
	}
	#banner-h2 {
		float: none;
		margin-top: 3em;
		font-size: 22px;
	}
	#banner-container {
		height: 37.5em;
	}
	#block1 {
		height: auto;
	}
	#contact-right p {
		padding-bottom:20px;
	}
	#animation-tab {
		display: none;
	}
	#about-section {
		margin:0 auto;
	}
	.about-me {
		font-size: 6em;
		margin:80px auto 0;
	}
	.bounce-up .subject {
		opacity: 1;
		transform: none;
		transition: none;
	}
	.about-descript {
		display: none;
	}
	.about-me-flex {
		height: auto;
	}
	.blur .image {
		-moz-filter: blur(1px);
		-webkit-filter: blur(1px);
		filter: blur(1px);	
	}
	.am-link-container .overlay {
		opacity:0.7;
	}
	.text {
		opacity: 1;
		font-size: 1.25em;
	}
	.projects {
		height: auto;
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
	.projects a {
		transition: none;
	}
	.projects-others, .projects-coding {
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
		height: auto;
		width: 100%;
		max-width: 100%;
		flex: 100%;
	}
	#p-others:hover, #n-others:hover {
		background-color: transparent;
		color: #ffdb4d;
	}
	#p-coding:hover, #n-coding:hover {
		background-color: transparent;
		color: #00004d;
	}
	.previous, .nexxt {
		padding: 0;
	}
	#moreProjects-btn {
	}
	#coding-github-btn {
		background: white;
		border: 1px solid #00004d;
		color: #00004d;
	}
	.skills-box {
		height: 32.5em;
	}
	.skills-box .skillboxp {
		padding: 15px 25px 0;
		font-size: 1em;
	}
	.skills-box h2 {
		font-size: 2em;
		height: 18.5%;
	}
	.skills-box h3 {
		font-size: 1.25rem !important;
		padding: 10px 25px 0;
		line-height:;
	}
	#content {
		height: 1960vh;
	}
	#footer-contact {
		font-size: 3.25em;
		text-align: center;
	}
	#footer-contact a {
		transition: none;
	}
	#footer-contact a.before:before,
	#footer-contact a.after:after {
		content: none;
	}
	.footer-left {
		width: 100%;
	}
	.footer-left p {
		font-size: 15px;
		margin:0 auto;
	}
	footer, .flex-footer {
		height: auto;	
	}
	.footer-left img {
		height: auto;
	}
	#bottom-footer .footer-center,#bottom-footer .footer-right {
		display: none;
	}
}
@media only screen and (min-width: 362px) {
	#content {
		height: 1600vh;
	}
	.square {
		display: none;
	}
	.text {
		font-size:1.35em;
	}
	#name-responsive {
		display: inline-block;
		font-size: 1.2rem;
		margin:0 auto;
		font-weight: 500;
		line-height: 0.725em;
		letter-spacing:1px;
		font-family: Perpetua,Baskerville,
			Big Caslon,Palatino Linotype,Palatino,
			URW Palladio L,Nimbus Roman No9 L,serif;
	}
	.previous, .nexxt {
		padding-right: 0;
	}
}
@media only screen and (min-width: 500px) {
	#content {
		height: 1925vh;
	}
}
@media only screen and (min-width: 530px) {
	.text {
		font-size:1.45em;
	}
}
@media only screen and (min-width: 575px) {
	#banner-h2 {
		font-size: 22px;
	}
	.about-descript {
		display: none;
	}
	.text {
		opacity: 1;
	}
	#content {
		height: 2285vh;
	}
}
@media only screen and (min-width: 900px) {
	#content {
		height: 660vh;
	}
	#banner-h2 {
		font-size: 28px;
	}
	.about-descript {
		display: inline;
	}
	.text {
		opacity: 0;
	}
	.col-sm-3 {
		flex:0 0 20%;
		max-width: 20%;
	}
	.square {
		display: inline-block;
	}
	#name-responsive {
		display: none;
	}
	.text {
		font-size: 1.15em;
	}
	.previous, .nexxt {
		padding: 16px;
	}
}
